.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 0; 
  align-items: center;
  justify-content: center;
  margin: 10px 10% ;

}

.grid_item {
  display: flex;
  justify-content: center;
  padding: 0; /* Remover padding */
  margin: 0;
  text-align: center;

}