frontend/Foto/pics.tsx
frontend/Foto/_51673885-b60a-43cf-9094-b0fd88684892-removebg-preview.png
frontend/Foto/_51673885-b60a-43cf-9094-b0fd88684892.jpeg
frontend/Foto/pics.tsx
frontend/Foto/pics.tsx


# Node modules
node_modules/